[submodule "libs/PyVRP"]
    path = libs/PyVRP
    url = https://github.com/PyVRP/PyVRP

[submodule "libs/PyVRP/instances"]
    path = libs/PyVRP/instances
    url = https://github.com/PyVRP/Instances/tree/965b48e0856a300bdda384b43b5fc88a1fae305f
